<div class="container border-gray">
  <div class="row">
    <label for="info">Nuevo Pokemon</label>
  </div>
  <div id="info" class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <label>Nombre:</label>
        </div>
        <div class="col">
          <app-input
            [placeholderElement]="'nombre'"
            [(modelElement)]="pokemon!.name"
          ></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>Imagen:</label>
        </div>
        <div class="col">
          <app-input
            [placeholderElement]="'url'"
            [(modelElement)]="pokemon!.image"
          ></app-input>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <label for="ataque">Ataque({{pokemon!.attack}}):</label>
        </div>
        <div class="col">
          <div class="row">
            0
            <input class="input-range" type="range" id="ataque" name="ataque" min="0" max="100" [(ngModel)]="pokemon!.attack">
            100
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="defensa">Defensa({{pokemon!.defense}}):</label>
        </div>
        <div class="col">
          <div class="row">
            0
            <input class="input-range" type="range" id="defensa" name="defensa" min="0" max="100" [(ngModel)]="pokemon!.defense">
            100
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <app-button
      [text]="'Guardar'"
      [actionIcon]="'save-white.png'"
      (clickEvent)="guardar()"
    ></app-button>
    <app-button
      [text]="'Cancelar'"
      [actionIcon]="'cancel-white.png'"
      (clickEvent)="cancelar()"
    ></app-button>
  </div>
</div>
